body {
    margin: 0rem;
    padding: 0rem;
    background-color: #19181d;

}


/* NAVBAR STYLE */

/* Nav Scrolling Offset */
.offset:before {
    height: 4rem;
    margin-top: -4rem;
    content: "";
    display: block;
}

/* Extra Bootstrap Column Padding */

[class*="col-"] {
    padding: 1rem;
}

.navbar {
    padding: .7rem 2rem;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .1rem;
    transition: background-color .5 ease 0s; /* transition (transparent - solid */
}

.navbar.always-solid {
    background: rgba(0, 0, 0, 0.7)!important;
  }

.svg-inline--fa.fa-w-14 { /* class for custom hamburger icon */
    color: black;
    font-size: 1.6rem;
}

.svg-inline--fa.fa-w-14.whiteHamIcon {
    color: white;
    font-size: 1.6rem;
}

.navbar-nav li {
    padding-right: .8rem;
}

.navbar-nav .nav-link {
    color: black;
    padding-top: .8rem;
}

.navbar-nav .nav-link.active, /* this is to make the top links colored and activate on hover */
.navbar-nav .nav-link:hover { 
    color: lightblue;
}

.navbar.solid {
    background: rgba(0, 0, 0, 0.7) !important;
    transition: background-color 1s ease 0s; /* transition (solid - transparent) */
}
.nav-link.whiteText {
    color: white;
}


/* LANDING PAGE CONTENTS */

.circle { /*dark circle initial */
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    background: linear-gradient(#313247 0%, #19181d 30%);
    position: absolute;
    top: 20%;
    left: 35%;
}

.circle::before, /*darker pink circle */
.circle::after {
    content: '';
    height: 25rem;
    width: 25rem;
    background: linear-gradient(#ffd1da 0%, lightblue 5%, #2d2133 25%);
    border-radius: 50%;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-filter: blur(0.4375rem);
    z-index: -1;
}
.circle::after { /*top radius*/
    width: 25.9375rem;
    top: 35%;
    -webkit-filter: blur(0.875rem);
    opacity: .3;
}

.message {
    font-family: sans-serif;
    font-size: 1.25rem;
    color: white;
    letter-spacing: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.notifymsg {
    font-family: sans-serif;
    font-size: 1.4rem;
    color: #ffd1da;
    letter-spacing: .23rem;
    position: absolute;
    bottom: 17%; /*raises it 17% from the bottom of the page */
    left: 49.5%; /*makes it center to the entire page */
    transform: translate(-50%, -50%)
}
.field {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%);
}

.field button{
    height: 3.1875rem;
    width: 9.25rem;
    background-color: #2e2d3b;
    font-family: sans-serif;
    font-size: .9rem;
    color: white;
    letter-spacing: 0.0625rem;
    border: none;
    outline: none;
    border-radius: 2.1875rem;
    position: absolute;
    bottom: 1rem;
    left: -5.05rem;
    z-index: 999;

}

/* END OF LANDING PAGE CONTENTS */



/*--- MEDIA QUERIES ---*/

/* Devices under 992px (lg) screen */

@media (max-width: 991px) {
    .circle { /*dark circle initial */
        height: 25rem;
        width: 25rem;
        border-radius: 50%;
        top: 21%;
        left: 23%;
    }
    .message {
        letter-spacing: .9rem;;
        font-size: 1.6rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    .notifymsg {
        letter-spacing: .2rem;
        font-size: 1.2rem;
        position: absolute;
        bottom: 20%;
        left: 49%;
        transform: translate(-50%, -50%);
    }
    .field {
        bottom: 8%;
        left: 53%;
        transform: translate(-50%);
    }
    .field button{
        height: 2.35rem;
        width: 6.25rem;
        align-content: center;
        font-size: 0.6875rem;
        color: white;
        letter-spacing: .1rem;
        border-radius: 2.1875rem;
        position: absolute;
        bottom: 4rem;
        left: -5rem;
        z-index: 999;
       
    
    }
}

/* Devices under 768px (md) screen */

@media (max-width: 767px) {
    .circle { /*dark circle initial */
        height: 25rem;
        width: 25rem;
        border-radius: 50%;
        top: 21%;
        left: 21.4%;
    }
    .message {
        letter-spacing: .75rem;;
        font-size: 1.6rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    .notifymsg {
        letter-spacing: .2rem;
        font-size: .9rem;
        position: absolute;
        bottom: 25%;
        left: 49%;
        transform: translate(-50%, -50%);
    }
    .field {
        bottom: 8%;
        left: 53%;
        transform: translate(-50%);
    }
    .field button{
        height: 2.35rem;
        width: 6.25rem;
        align-content: center;
        font-size: 0.6875rem;
        color: white;
        letter-spacing: .1rem;
        border-radius: 2.1875rem;
        position: absolute;
        bottom: 1.4rem;
        left: -4.6rem;
        z-index: 999;
       
    
    }
    
}

/* Devices under 576px (sm) screen */

@media (max-width: 575px) {
    .circle { /*dark circle initial */
        height: 25rem;
        width: 25rem;
        border-radius: 50%;
        top: 21%;
        left: 10%;
    }
    .message {
        letter-spacing: .621rem;
        font-size: 1rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    .notifymsg {
        letter-spacing: .2rem;
        font-size: .9rem;
        position: absolute;
        bottom: 25%;
        left: 49%;
        transform: translate(-50%, -50%);
    }
    .field {
        bottom: 8%;
        left: 53%;
        transform: translate(-50%);
    }
    .field button{
        height: 2rem;
        width: 6rem;
        align-content: center;
        font-size: 0.53rem;
        color: white;
        letter-spacing: .1rem;
        position: absolute;
        bottom: 6rem;
        left: -4.6rem;
        z-index: 999;
       
    
    }

    
}
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {

    .circle { /*dark circle initial */
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        top: 21%;
        left: 9%;
    }

    .circle::before, /*darker pink circle */
    .circle::after {
    content: '';
    height: 20rem;
    width: 20rem;
    background: linear-gradient(#ffd1da 0%, lightblue 5%, #2d2133 25%);
    border-radius: 50%;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-filter: blur(0.4375rem);
    z-index: -1;
}
.circle::after { /*top radius*/
    width: 20.9375rem;
    top: 35%;
    -webkit-filter: blur(0.875rem);
    opacity: .3;
}
    .message {
        letter-spacing: .5rem;
        font-size: .8rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    .notifymsg {
        letter-spacing: .2rem;
        font-size: .9rem;
        position: absolute;
        bottom: 25%;
        left: 49%;
        transform: translate(-50%, -50%);
    }
    .field {
        bottom: 8%;
        left: 53%;
        transform: translate(-50%);
    }
    .field button{
        height: 2rem;
        width: 6rem;
        align-content: center;
        font-size: 0.53rem;
        color: white;
        letter-spacing: .1rem;
        position: absolute;
        bottom: 4rem;
        left: -4.6rem;
        z-index: 999;
       
    
    }
     
    }